__pycache__/
Archives & fitting documentation/
[2019] Do_FIT/
Au cas où/
Backup/
Doc/
Documentation/
.idea/
*.pyc
*.pyo
*.log
*.zip
.DS_Store
model.pt
STIX Solar Orbitor.spec
build/
dist/
justfortest.py
otherfile.py